.root {
    -fx-font-family: 'Arial';
    -fx-base: #202020;
    -fx-background: rgba(56, 56, 56, 0.73);
}

.title-section {
    -fx-text-fill: white;
    -fx-font-size: 19px;
}

.button {
    -fx-background-color: #4a4a4a;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.button:hover {
    -fx-background-color: #d06f6f;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.text-field {
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.75);
    -fx-max-width: 150px;
    -fx-min-width: 100px;


}


/* Centrer le conteneur de l'affiche du film */
.movie-poster-container {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

/* Centrer le conteneur des détails du film */
.movie-details-container {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.movie-title {
    -fx-alignment: center;
}


/* Centrer le conteneur de la vue d'ensemble du film */
.movie-overview-container {
    -fx-alignment: center;
    -fx-text-fill: white;
}



.alert {
    -fx-font-size: 18px;
}

.search-section {
    -fx-padding: 10;
    -fx-border-color: #2a2a2a;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-color: rgba(0, 0, 0, 0.32);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-pref-width: 250px; /* Set preferred width */
    -fx-min-width: 200px;   /* Set minimum width */
    -fx-max-width: 300px;   /* Set maximum width */
}

.search-section:hover {
    -fx-border-color: #d06f6f;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
    -fx-border-color: red;
    -fx-border-width: 2;
}

/************************************/

.movie-tile {
    -fx-alignment: top-center;
    -fx-padding: 15;
    -fx-spacing: 7;
    -fx-background-color: #333;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: rgba(255, 0, 0, 0.53);
    -fx-border-width: 1;
    -fx-border-radius: 10;

}
.movie-tile:hover {
    -fx-alignment: top-center;
    -fx-padding: 15;
    -fx-spacing: 7;
    -fx-background-color: #754242;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: red;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

.movie-title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-max-width: 190px;
}

.movie-year, .movie-rating {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.scrollpan-section {
    -fx-background-color: rgba(51, 51, 51, 0.56);
}

/************************************************************/
#container1 {
    -fx-background-color: transparent;
    -fx-padding: -650px 20px 20px 20px;
    -fx-alignment: center;
}

#container1_1 {
    -fx-padding: 20px 20px 20px 20px;
    -fx-background-color: rgba(128, 128, 128, 0.6); /* Adjust for glass effect */
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-border-radius: 10;
    -fx-max-height: 390px; /* Set the maximum height to enforce the size */
    -fx-pref-width: 600px;
    -fx-max-width: 900px;
}

#title {
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.movie-info-details {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#description {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

#poster_image_d{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 20, 0, 0, 10);
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-background-radius: 5; /* Match this with border-radius if you have a background color */
}

/* Style for the section containing the actors */

.section-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* White text color */
    -fx-padding: 0 0 0 10px; /* Left padding to align with the actors' images */
}

/* Style for the FlowPane that contains the actors */
.actors-section {
    -fx-background-color: rgba(244, 6, 18, 0.33);
    -fx-border-color: #f40612;
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Rounded border corners */
    -fx-background-radius: 5px; /* Match background radius with border radius for rounded corners */
    -fx-padding: 20px; /* Padding inside the FlowPane */
}

/* Style for individual actor containers (if using VBox for each actor) */
.actor-container {
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-background-color: #2e4057; /* Slightly lighter background for each actor container */
    -fx-background-radius: 4px; /* Rounded corners for actor containers */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10); /* Shadow for depth */
}

/* Style for actor images */
.actor-image {
    -fx-fit-width: 100px; /* Preferred width */
    -fx-fit-height: 150px; /* Preferred height */
    -fx-preserve-ratio: true;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.1, 2, 2); /* Soft shadow for the images */
}

/* Style for actor names */
.actor-name {
    -fx-font-size: 14px;
    -fx-text-fill: #dcdcdc; /* Light grey color for readability */
    -fx-wrap-text: true;
    -fx-padding: 5px; /* Padding around the actor name for spacing */
    -fx-text-alignment: center; /* Center align actor names */
}

#actor {
    -fx-font-size: 24px; /* Larger font size for prominence */
    -fx-font-weight: bold; /* Bold font weight for emphasis */
    -fx-text-fill: #e8e8e8; /* Light color for high contrast */
    -fx-background-color: rgba(244, 6, 18, 0.33);
    -fx-padding: 10px; /* Padding around the text for more space */
    -fx-background-radius: 5px; /* Rounded corners for the background */
    -fx-border-radius: 5px; /* Rounded corners for the border */
    -fx-border-width: 2px; /* Border width */
    -fx-border-color: #606060; /* Border color */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 5); /* Shadow for depth */
    -fx-alignment: center; /* Center alignment for the text */
}

#relatedMovies {
     -fx-font-size: 24px; /* Larger font size for prominence */
     -fx-font-weight: bold; /* Bold font weight for emphasis */
     -fx-text-fill: #e8e8e8; /* Light color for high contrast */
     -fx-background-color: rgba(244, 6, 18, 0.33);
     -fx-padding: 10px; /* Padding around the text for more space */
     -fx-background-radius: 5px; /* Rounded corners for the background */
     -fx-border-radius: 5px; /* Rounded corners for the border */
     -fx-border-width: 2px; /* Border width */
     -fx-border-color: #606060; /* Border color */
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0, 0, 5); /* Shadow for depth */
     -fx-alignment: center; /* Center alignment for the text */
 }

